<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" id="top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#top">
        <img src="assets/happy-thoughts.jpg" alt="{{ site.title }}" class="img-fluid" title="Happy thoughts">
    </a>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link js-link" href="#artists">Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-link" href="#album">Album</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-link" href="#bio">Biography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-link" href="#tour">Tour</a>
            </li>
        </ul>
    </div>
    <div class="d-flex">
        <a href="{{ site.bandcamp_url }}" class="p-2 text-white">
            <i class="fa fa-bandcamp"></i>
        </a>
        <a href="{{ site.facebook_url }}" class="p-2 text-white">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
</nav>
{{ content }}
<footer class="container">
    <div class="row">
        <div class="col-xs-12 p-3">
            <a href="{{ site.bandcamp_url }}" class="p-2 text-white">
                <i class="fa fa-bandcamp"></i>
                bandcamp
            </a>
            <a href="{{ site.facebook_url }}" class="p-2 text-white">
                <i class="fa fa-facebook"></i>
                facebook
            </a>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
